In [2]:
import pandas as pd
df=pd.read_csv('/home/user/Downloads/transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [4]:
#1. Print Summary of transaction data set
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [11]:
#2. Print Numbers of Attributes
df=df.count()
print(df)

5

In [20]:
#3. Print Numbers of Record
a=df.shape[0]
print(a)

10

In [23]:
#4.GET ROW NAMES
d=df.index
print(d.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#5. Get the column names
d=df.columns
print(d.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [27]:
#6. View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [28]:
#7.Change the name of column “ Quantity” to “Quant”
df.rename(columns={'Quantity': 'Quant'},
inplace=True) 
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [29]:
#8.8.Change the name of columns ProductID and UserID
df.rename(columns={'ProductID': 'pid', 'UserID': 'id'},
inplace=True) 
print(df)

   TransactionID TransactionDate   id  pid  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [6]:
#9. Order the rows of transactions by TransactionId
#descending, if ascending then ascending=True
df_sorted = df.sort_values(by=["TransactionDate"],
ascending=[True])
print(df_sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
#10. Order the rows of transactions by Quantity
#ascending, TransactionDate descending
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [8]:
#Set the column order of Transactions as ProductID,
#Quantity, TransactionDate, TransactionID, UserID
df = df[['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']]

print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [9]:
#12. Make UserID the first column of transactions
df = df[['UserID','ProductID', 'Quantity', 'TransactionDate', 'TransactionID']]

print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [10]:
#13.Extracting arrays from a Data Frame. Get the 2ndcolumn
second_column_array = df.iloc[:, 1].values  # Using .iloc for column selection

print(second_column_array)

[2 4 3 2 4 5 4 2 4 4]

In [11]:
#14. Get the ProductID Array
second_column_array = df.iloc[:, 1].values  # Using .iloc for column selection

print(second_column_array)

[2 4 3 2 4 5 4 2 4 4]

In [12]:
#15. Get the ProductId array using the following variable
#Data Mining Lab Manual AY:19-20 Page 5
product_id_array = df['ProductID'].values  

print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [ ]:
#16.16.Row subsetting, subset rows 1,3 and 6
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

In [13]:
print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [15]:
#16.Row subsetting, subset rows 1,3 and 6
subset_df = df.iloc[[0, 2, 5]]
print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
2     3.0          3         1      2011-06-16              3
5     2.0          5         6      2013-12-23              6

In [17]:
#17. subset rows excluding 1,3 and 6
subset_df = df.drop(index=[0, 2, 5])

print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
1     3.0          4         1      2011-05-26              2
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [18]:
#18. Subset the first three rows
subset_df = df.iloc[:3]
print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3

In [22]:
#19. Subset the last 2 rows
subset_df = df.iloc[-2:]
print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [24]:
#20. Subset rows excluding the last 2 rows
subset_df = df.iloc[:-2]
print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8

In [27]:
#21. Subset rows excluding the first 3 rows
subset_df = df.iloc[3:]
print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [28]:
#22. Subset rows where Quantity>1
subset = df[df['Quantity'] >1]
print(subset)

   UserID  ProductID  Quantity TransactionDate  TransactionID
3     1.0          2         3      2012-08-26              4
5     2.0          5         6      2013-12-23              6
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [30]:
#23. Subset rows where UserID=2
subset = df[df['UserID'] ==2]
print(subset)

   UserID  ProductID  Quantity TransactionDate  TransactionID
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6

In [34]:
#24. Subset rows where Quantity>1 and UserID=2
df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
print(subset)

   UserID  ProductID  Quantity TransactionDate  TransactionID
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6

In [35]:
#25. Subset rows where Quantity + UserID is >3
subset=df[(df['Quantity'] + df['UserID']) > 3]
print(subset)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [9]:
# 26.Subset rows where an external array, foo, is True
foo1 = [True, False, True, False,True, False, True, False,True, False] # Example of a boolean array
subset_rows = df[foo1]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
2              3      2011-06-16     3.0          3         1   6.0
4              5      2013-06-06     2.0          4         1   6.0
6              7      2013-12-30     3.0          4         1   7.0
8              9      2015-04-24     7.0          4         3  11.0

In [7]:
#26. Subset rows where an external array, foo, is True
import numpy as np

foo = np.array([True, False, True, False,True, False, True, False,True, False])  # Boolean array
bar = np.array([-1, 2, 3, -4,0,-2,-1,9,-7,1])  # Numeric array

# Subset rows where foo is True
subset_foo =df[foo]

# Subset rows where bar is positive
subset_bar = df[bar > 0]

print("Subset where foo is True:\n", subset_foo)
print("Subset where bar is positive:\n", subset_bar)

Subset where foo is True:
    foo1
0  True
2  True
4  True
6  True
8  True
Subset where bar is positive:
     foo1
1  False
2   True
7  False
9  False

In [8]:
#27. Subset rows where an external array, bar, is positive
# Subset rows where foo is True
subset_foo = df[foo]

# Subset rows where bar is positive
subset_bar = df[bar > 0]

print("Subset where foo is True:\n", subset_foo)
print("Subset where bar is positive:\n", subset_bar)

Subset where foo is True:
    foo1
0  True
2  True
4  True
6  True
8  True
Subset where bar is positive:
     foo1
1  False
2   True
7  False
9  False

In [10]:
#28. Subset rows where foo is TRUE or bar is negative

subset_foo_or_bar_negative = df[foo | (bar < 0)]
print("Subset where foo is True OR bar is negative:\n", subset_foo_or_bar_negative)

Subset where foo is True OR bar is negative:
     foo1
0   True
2   True
3  False
4   True
5  False
6   True
8   True

In [12]:
#29. Subset the rows where foo is not TRUE and bar is notnegative
subset_not_foo_and_not_bar_negative = df[~foo & (bar >= 0)]
print("Subset where foo is NOT True AND bar is NOT negative:\n", subset_not_foo_and_not_bar_negative)

Subset where foo is NOT True AND bar is NOT negative:
     foo1
1  False
7  False
9  False

In [36]:
#30. Subset by columns 1 and 3
subset = df.iloc[:, [1, 3]]
print(subset)

   ProductID TransactionDate
0          2      2010-08-21
1          4      2011-05-26
2          3      2011-06-16
3          2      2012-08-26
4          4      2013-06-06
5          5      2013-12-23
6          4      2013-12-30
7          2      2014-04-24
8          4      2015-04-24
9          4      2016-05-08

In [37]:
#31. Subset by columns TransactionID and
#TransactionDate
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [14]:
#32. Subset by columns TransactionID and
#TransactionDate with logical operator
subset = df[df['Quantity'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [10]:
#33. Subset columns by a variable list of column names
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [11]:
#34. Subset columns excluding a variable list of columnnames
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID   Foo
0              1      2010-08-21     7.0   9.0
1              2      2011-05-26     3.0   7.0
2              3      2011-06-16     3.0   6.0
3              4      2012-08-26     1.0   3.0
4              5      2013-06-06     2.0   6.0
5              6      2013-12-23     2.0   7.0
6              7      2013-12-30     3.0   7.0
7              8      2014-04-24     NaN   NaN
8              9      2015-04-24     7.0  11.0
9             10      2016-05-08     3.0   7.0

In [13]:
#35.insertind and updating
df.loc[df['UserID'] == 2, 'Quantity'] = 10
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4        10   6.0
5              6      2013-12-23     2.0          5        10   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [6]:
#36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
Foo                       float64
dtype: object

In [3]:
#37. Insert a new column, Foo=UserID+ProductID
df['Foo'] = df['UserID'] + df['ProductID']
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0